// Colors
$white: #FFFFFF;
$black: #000000;
$off-white: #EEEEEE;
$off-black: #27262e;
$ghost-black: rgba($black, .1);
$ghost-white: rgba($white, .1);
$orange: #eb782d;
$gray: #999999;
$green: #5fba7d;
$red: #df3b4e;
$dark-gray: #555555;
$blue: #1e99a8;
$sky-blue: #91D1E6;
$ice-blue: #ddedf2;
$light-blue: #AEC4CF;
$black-blue: #1C2931;
$dark-blue: lighten($black-blue, 10);

$darkest-color: $black-blue;
$darker-color: $dark-blue;
$light-color: $light-blue;
$lighter-color: $ice-blue;
$border-color: $dark-blue;

// Breakpoints
$tiny: max-width 480px;
$small: max-width 768px;
$medium: max-width 1024px;
$large: max-width 1280px;
$huge: min-width 1440px;

// Typography
$font-family: Yantramanav, Raleway, Montserrat Century Gothic, Helvetica, Arial, sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.25;

// Other sizes
$border-radius: .25rem;

$tiny-spacing: .5rem;
$small-spacing: 1rem;
$medium-spacing: 2rem;
$large-spacing: 4rem;
$huge-spacing: 6rem;

$titlebar-height: 2.2rem;
$sidebar-width: 30rem;