.button {
  background: $blue;
  border: none;
  outline: none;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 1.2rem;
  padding: $small-spacing $medium-spacing;
  transition: .25s transform, .25s opacity, background-color .25s;
  position: relative;

  &:active {
    transform: scale(.95);
  }

  &:hover {
    background: lighten($blue, 5);
  }

}

.button.is-small {
  font-size: 1rem;
  padding: $tiny-spacing $small-spacing;
}

.button__close {
  color: rgba($white, .5);
  margin-left: $small-spacing;
  &:after {
    @include fa-icon;
    content: $fa-var-times;
  }
  &:hover {
    color: $white;
  }
}

.button.is-loading {
  color: transparent;

  &:before {
    content: '';
    border: .2rem solid $white;
    border-left-color: transparent;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    left: 50%;
    top: 50%;
    vertical-align: middle;
    position: absolute;
    animation: button-loader .75s infinite linear;
  }

}

@keyframes button-loader {
  0% {
    opacity: .5;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}