.highcharts-background {
  fill: transparent;
}

.highcharts-grid path {
  stroke: rgba($border-color, .5);
}

.highcharts-series path:first-child {
  stroke: $blue;
  stroke-width: .3rem;
}

.highcharts-axis-labels text {
  color: rgba($blue, .5) !important;
  fill: rgba($blue, .5) !important;
}

