.focus__placeholder {
  background: transparent;
  border: .1rem dashed $ghost-white;
  text-align: center;
  line-height: 40rem;
  height: 40rem;
  font-size: 2.4rem;
  color: $gray;
  padding: 0 10rem;
}

.focus__wrapper {
  padding: $medium-spacing;
  height: 100%;
}

.focus__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $darkest-color;
  border-bottom: .1rem solid $ghost-white;
  left: 0;
  right: $sidebar-width;
  margin: #{-$medium-spacing} #{-$medium-spacing} $large-spacing;
  height: 8rem;
  padding: 0 $medium-spacing;
  z-index: 10;
}

.focus__title {
  @include title;
  font-size: 2.4rem;
  margin-bottom: 0;
}

.focus__content {
  @include clearfix;
  opacity: 0;
  animation: fade-in .25s forwards;
}

.focus__ticker {
  opacity: .25;
  font-size: 2rem;
  margin-left: $small-spacing;
}

.focus__actions {
  justify-content: space-between;
}

.focus__items {
  @include clearfix;
  clear: left;
}

.focus__item {
  width: calc(33% - (#{$medium-spacing}/2));
  margin-right: $medium-spacing;
  margin-top: $medium-spacing;
  float: left;

  &:nth-child(3n) {
    margin-right: 0;
  }

}

.focus__sell {
  margin-left: $small-spacing;
  margin-right: $small-spacing;
}

.focus__chart {

  width: calc((200%/3) - (#{$medium-spacing}/2));
  margin-right: $medium-spacing;
  float: left;
  border: .1rem solid $border-color;

  &, & > div {
    height: 50vh;
    min-height: 60rem;
  }
}

.focus__orderbook {
  width: calc((100%/3) - (#{$medium-spacing}/2));
  float: left;
}