.instruments__grid {
  padding: 0 $medium-spacing;
  @include clearfix;
}

div.instruments__item {
  width: 30rem;
  float: left;
  margin-right: $medium-spacing;
  margin-top: $medium-spacing;
  transition: .15s;
  border-radius: $border-radius;
  padding: $medium-spacing;

  &:hover {
    background: rgba($blue, .1);
    cursor: pointer;
  }
}

.instrument__top {
  display: flex;
  justify-content: space-between;

  &:nth-child(2) {
    border-bottom: .1rem solid $ghost-white;
  }

}