.orderbook {
  border: .1rem solid $border-color;
}

.orderbook__table {
  width: 100%;

  th {
    @include title;
    font-size: 1.2rem;
    border-bottom: .1rem solid $border-color;
  }

  th:first-child,
  td:first-child {
    padding-left: $medium-spacing;
  }

  th:last-child,
  td:last-child {
    padding-right: $medium-spacing;
  }

  th, td {
    text-align: left;
    padding: $small-spacing 0;
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      text-align: right;
    }

    &:nth-child(3) {
      padding-right: $small-spacing;
    }
    &:nth-child(4) {
      padding-left: $small-spacing;
    }

  }

  tr:nth-child(even) {
    background: $ghost-black;
  }

  tr:last-child td {
    @include title;
  }

}