.orderbook {
}

.orderbook__table {
  width: 100%;

  th {
    @include title;
  }

  th, td {
    text-align: left;
    &:nth-child(2),
    &:nth-child(4) {
      text-align: right;
    }

    &:nth-child(2) {
      padding-right: $small-spacing;
    }
    &:nth-child(3) {
      padding-left: $small-spacing;
    }

  }

}