.tabs__buttons {
  background: $ghost-black;
  border-bottom: .1rem solid $ghost-white;
  padding: $small-spacing 0 0;
  display: flex;
  justify-content: space-between;
}

.tabs__button {
  background: transparent;
  border-radius: 0;
  color: rgba($white, .5);

  &:hover {
    color: $white;
    background: transparent;
  }

  &:active {
    transform: none;
  }

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: $medium-spacing;
    right: $medium-spacing;
    height: .2rem;
    background: transparent;
  }

}

.tabs__button.is-active {
  color: $white;

  &:after {
    background: $blue;
  }

}

.tabs__pane {
  @include clearfix;
}