.value {
  display: inline-block;
  line-height: 1;
}

.value.is-positive {
  color: $green;
}

.value.is-negative {
  color: $red;
}

.value sup {
  position: relative;
  vertical-align: top;
  font-size: .5em;
  line-height: 1;
  margin-left: .1em;
}