.value {
  display: inline-block;
  line-height: 1;

  &:hover {
    cursor: default;
  }

}

.value.is-positive {
  color: $green;
}

.value.is-negative {
  color: $red;
}

.value sup {
  position: relative;
  font-size: .5em;
  margin-left: .1em;
  top: -.6em;
}